<%= provide(:title,"ãƒ­ã‚°ã‚¤ãƒ³") %>

<div class="text-center login-head">
  <h1 class="login_h1">ðŸ”“ãƒ­ã‚°ã‚¤ãƒ³</h1>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 sesseion-col">
    <div class="text-center session_img"><i class="fas fa-user"></i></div><br>
    <%= form_with(url: login_path,local:true) do |f| %>
      <div class="text-center">

        <h4 class="mail-label">ãƒ¡ãƒ¼ãƒ«ã‚¢ãƒ‰ãƒ¬ã‚¹</h4>
        <%= f.email_field :email, class:"mail-form fa", placeholder:"\uf0e0" %>

         <h4 class="mail-label">ãƒ‘ã‚¹ãƒ¯ãƒ¼ãƒ‰</h4>
         <%= f.password_field :password, class:"mail-form fa", placeholder:"\uf084" %><br><br>

        <%= f.submit "é€ä¿¡",class:"btn btn-primary",style:"width:40%;padding:2% 0"%>
      </div>
    <% end %>
  <!-- col -->
  </div>
<!-- row -->
</div>