<%= provide(:title,"売り上げ管理") %>
<div class="text-center uriage_kanri_h1">
  売り上げ管理ページ
</div>
<div style="border-top:1px dotted #c0c0c0;margin-bottom:3%;"></div>
<!--情報テーブル-->
<table class="table tv1">
  <tr>
    <td style="text-align:center" >
        <%= link_to "←", uriagePhone_moneys_path(params:{first_day: @first_day.prev_month}),class:"btn btn-primary" %>
        &emsp;&emsp;<%= @first_day.to_s(:month) %>&emsp;&emsp;
        <%= link_to "→", uriagePhone_moneys_path(params:{first_day: @first_day.next_month}),class:"btn btn-primary" %>  
    </td>      
  </tr>
  <tr>
    <td>月売り上げ実績合計:&emsp;<strong style="color:red"><%= @first_money.uriageTotal(@first_day,@last_day) %></strong>円</td>
  </tr>
  <tr>
    <td>月売り上げ予算合計:&emsp;<strong style="color:green"><%= @first_money.yosanTotal(@first_day,@last_day) %></strong>円</td>
  </tr>
</table>
<!--/情報テーブル-->

<!--メインテーブル-->
<table class="table table-bordered tv2">
  <thead>
    <tr>
      <th>日付/売り上げ</th>
    </tr>
  </thead> 
  <tbody>
    <% @dates.each do |day| %>
      <tr>
        <td>
           <table class="table table-bordered tv3">
             <tr>
               <td colspan="2" style="font-weight:bold;">
                  <%= day.t_day.to_s(:date_month) %>&emsp;(<%= %w[日 月 火 水 木 金 土][day.t_day.wday] %>)
               </td>
             </tr>

             <tr>
               <th>売り上げ金額</th>
               <th>日割り予算</th>
             </tr>

              <tr>
               <td style="color:red;font-weight:bold;"><%= day.uriage if day.uriage.present? %></td>
               <td style="color:black;font-weight:bold;"><%= day.yosan if day.yosan.present? %></td>
             </tr>

             <tr>
                <th colspan="2">備考</th>
             </tr>

             <tr>
                <td colspan="2"><%= day.noto if day.noto.present? %></td>
             </tr>

           </table>
        </td>
      </tr>
    <% end %>
  </tbody> 
</table>


<div style="border:1px dotted #c0c0c0"></div>






<style>
 .tv1{background:#fff;}
 .tv1 td{font-weight:bold;}
 .tv2{background:#d0d0d0;}
 .tv2 th{background:##005FFF;text-align:center;color:#fff;}
 .tv2 td{height:40px;background:#a0a0a0;}
 .tv3 td{background:#fff;}
</style>