<%= provide(:title,"売り上げ管理") %>
<div class="text-center uriage_kanri_h1">
  売り上げ管理ページ
</div>
<div style="border-top:1px dotted #c0c0c0;margin-bottom:3%;"></div>

<!--備考モーダル-->
<div id="memo" class="modal fade" role="dialog" tabindex="-1" ariahidden="true"></div>

<!--現在売り上げテーブル-->
<table class="table table-bordered tv">
   <tr>
     <th colspan="2" style="height:60px;font-size:20px;"><p></p>本日売り上げ情報</th>
   </tr>

   <tr>
     <th>現在売り上げ</th>
     <td style="text-align:center;font-size:18px;"><strong style="color:red"><%= @todayMoney.uriage %></strong>円</td>
   </tr>

   <tr>
     <th>本日予算</th>
     <td style="text-align:center;font-size:18px;"><strong style="color:blue"><%= @todayMoney.yosan %></strong>円</td>
   </tr>

    <tr>
     <th>現在実績(%)</th>
     <td style="text-align:center;font-size:18px;"><strong style="color:red"><%= @todayMoney.resParsent  %></strong>%</td>
   </tr>
</table>
<!--/現在売り上げテーブル-->




<p class="text-center text-primary" style="fon-size:26px; font-weight:bold;">月総合売り上げ</p>


<!--情報テーブル-->
<table class="table tv1">
  <tr>
    <td style="text-align:center" >
        <%= link_to "←", uriagePhone_moneys_path(params:{first_day: @first_day.prev_month}),class:"btn btn-primary" %>
        &emsp;&emsp;<%= @first_day.to_s(:month) %>&emsp;&emsp;
        <%= link_to "→", uriagePhone_moneys_path(params:{first_day: @first_day.next_month}),class:"btn btn-primary" %>  
    </td>      
  </tr>
  <tr>
    <td>月売り上げ実績合計:&emsp;<strong style="color:red"><%= @first_money.uriageTotal(@first_day,@last_day) %></strong>円</td>
  </tr>
  <tr>
    <td>月売り上げ予算合計:&emsp;<strong style="color:green"><%= @first_money.yosanTotal(@first_day,@last_day) %></strong>円</td>
  </tr>
</table>
<!--/情報テーブル-->

<div style="border-top:1px dotted #c0c0c0;margin-bottom:3%;"></div>
  &emsp;<%= link_to "戻る", root_path, class:"btn btn-default" ,style:"width:40%;margin-bottom:4px;" %>
<% if @first_money.monthCheck %>
   <%= link_to "予算入力", writeBudget_money_path(@first_day,params:{phone: true}), class:"btn btn-primary" ,style:"width:40%;margin-bottom:4px;" %>
 <% end %> 


<!--メインテーブル-->
<table class="table table-bordered tv2">
        <thead>
          <tr>
             <th rowspan="2" style="vertical-align:middle;">日付</th>
             <th colspan="2" style="width:40%;">売り上げ</th>
             <th rowspan="2" style="vertical-align:middle;">実績(円)</th>
          </tr>
          <tr>
            <th>売上<p></p>金額(円)</th>
            <th>日割り<p></p>予算(円）</th>
          </tr>
        </thead>
        <tbody>
          <% @dates.each do |day| %>
           <tr>
             <td style="font-weight:bold;">
               <%= day.t_day.to_s(:date_month) %><p></p>
               (<%= %w[日 月 火 水 木 金 土][day.t_day.wday] %>)
            </td>
             <td><p></p><strong style="color:red"><%= day.uriage if day.uriage.present? %></strong></td>
             <td><p></p><strong style="color:blue"><%= day.yosan if day.yosan.present? %></strong></td>
             <td>
                <% unless day.noto.present? %>
                  <p></p>
                <% end %>
                <strong><%= day.sagaku %></strong>
                <% if day.noto.present? %>
                  <p></p><%= link_to "備考",memo_money_path(day),remote:true,style:"padding:1px 0;text-decoration:underline;font-weight:bold;"%>
                <% end %>  
            </td>
            
           </tr>
          <% end %>
        </tbody>
      </table>

<div style="border:1px dotted #c0c0c0"></div>






<style>
 .tv{background:#fff;}
 .tv th{background:#000;color:#fff;text-align:center;}
 .tv1{background:#fff;}
 .tv1 td{font-weight:bold;}
 .tv2{background:#d0d0d0;}
 .tv2 th{background:##005FFF;text-align:center;color:#fff;}
 .tv2 td{height:40px;background:#fffs;}
 .tv3 td{background:#fff;}
</style>