<div class="text-center uriage_kanri_h1">
 売り上げ管理ページ
</div>
<div style="border-top:1px dotted #c0c0c0;margin-bottom:3%;"></div>


<div class="row">
    <div class="col-md-10 col-md-offset-2">
      <table class="table table-bordered tv1">
        <td>
          &emsp;&emsp;<%= link_to "←", uriage_moneys_path(params:{first_day: @first_day.prev_month}),class:"btn btn-primary" %>
            &emsp;&emsp;<%= @first_day.to_s(:month) %>&emsp;&emsp;
          <%= link_to "→", uriage_moneys_path(params:{first_day: @first_day.next_month}),class:"btn btn-primary" %>  
        </td>
        <td>月売り上げ実績合計(千円単位):&emsp;<strong style="color:red"><%= @first_money.uriageTotal(@first_day,@last_day) %></strong></td>
        <td>月売り上げ予算合計(千円単位):&emsp;<strong style="color:green"><%= @first_money.yosanTotal(@first_day,@last_day) %></strong></td>
      </table>
      <div style="border-top:1px dotted #c0c0c0;margin-bottom:3%;"></div>
       <%= link_to "戻る", root_path, class:"btn btn-default" ,style:"width:20%;margin-bottom:4px;" %>
      <% if @first_money.monthCheck %>
       <%= link_to "予算入力", writeBudget_money_path(@first_day), class:"btn btn-primary" ,style:"width:20%;margin-bottom:4px;" %>
      <% end %> 
      <table class="table table-bordered tv2">
        <thead>
          <tr>
             <th rowspan="2">日付</th>
             <th rowspan="2">曜日</th>
             <th colspan="2">売り上げ</th>
             <th rowspan="2">実績</th>
             <th rowspan="2">備考</th>
          </tr>
          <tr>
            <th>売り上げ金額(千円単位)</th>
            <th>日割り予算(千円単位)</th>
          </tr>
        </thead>
        <tbody>
          <% @dates.each do |day| %>
           <tr>
             <td><%= day.t_day.to_s(:date_month) %></td>
             <td><%= %w[日 月 火 水 木 金 土][day.t_day.wday] %></td>
             <td><strong style="color:red"><%= day.uriage if day.uriage.present? %></strong></td>
             <td><strong><%= day.yosan if day.yosan.present? %></strong></td>
             <td><%= day.sagaku %></td>
             <td><%= day.noto if day.noto.present? %></td>
           </tr>
          <% end %>
        </tbody>
      </table>
 
<!-- col終了 -->
    </div>
<!-- row終了 -->
</div>