<!--発注共通ページ-->
<%= render 'orders/group/order_page' %>

  <table class="table phone-order">
    <thead>
      <th style="background:blue; text-align:center; color:#fff;" colspan="2">商品</th>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
          　　<strong style="font-size:26px;"><%= item.name %></strong><br>
             <strong>売価/原価<span style="color:red"><%= item.baika %></span>円/<%= item.genka %>円</strong><br>
          </td>
          <td>
            <%= link_to "一週間まとめて",one_week_order_path(item),remote:true,class:"btn btn-primary"%>
          </td>
        </tr>
        <!--日付別注文数-->
        <tr>
         <td colspan="2">
          <table class="table table-bordered internal-table">
            <tr>
              <th style="background:#blue;color:#fff;text-align:center;">日付</th>
              <th style="background:#blue;color:#fff;text-align:center;">発注数</th>
              <th style="background:#blue;color:#fff;text-align:center;">状況</th>
            </tr>
            <% @week.each do |day| %>
              <tr>
                <th style="width:20%;"><%= day.to_s(:date_month) %></th>
                <td style="text-align:center;"><%= phoneOrderNum(item,day) %></td>
                <td></td>
              </tr>
            <% end %>
          </table>
         </td>
        </tr>

      <% end %>
    </tbody>
  </table>