<!--発注共通ページ-->
<%= render 'orders/group/order_page' %>

  <table class="table phone-order">
    <thead>
      <th style="background:blue; text-align:center; color:#fff;" colspan="2">商品</th>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
          　　<strong style="font-size:26px;"><%= item.name %></strong><br>
             <strong>売価/原価<span style="color:red"><%= item.baika %></span>円/<%= item.genka %>円</strong><br>
          </td>
          <td>
            <%= link_to "一週間まとめて",one_week2_order_path(item),class:"btn btn-primary"%>
          </td>
        </tr>
        <!--日付別注文数-->
        <tr>
         <td colspan="2">
          <table class="table table-bordered internal-table">
            <tr>
              <th style="background:#005FFF;color:#fff;text-align:center;">日付</th>
              <th style="background:#005FFF;color:#fff;text-align:center;">発注数</th>
              <th style="background:#005FFF;color:#fff;text-align:center;">状況</th>
            </tr>
            <% @week.each do |dy| %>
              <% day = day_instance(item, dy) %>
              <tr>
                <th style="width:20%;background:#005FFF;color:#fff;text-align:center;"><%= dy.to_s(:date_month) %></th>
                <td style="text-align:center;">
                  <% if (day.status == "" || day.status == "申請中") && (day.order_day >= Date.today+2) %>
                    <%= link_to day.oder_number, modal_order_path(day,params:{phone: "phone"}),remote:true, class:"oder-number-link" %>
                  <% elsif day.status == "発送済み"  %>  
                    <label class="status-2"><%= day.oder_number %></label>
                  <% elsif (day.status == "在庫切れ" || day.status == "終売")   %>  
                    <label class="status-3-4"><%= day.oder_number %></label><br>
                    <label class="status-3-4">×</label>
                 <% else %>   
                    <label style="font-size:18px;"><%= day.oder_number %></label>
                 <% end %>  
                </td>
                <!-- 申請状況-->

                <td class="item-order-status">
                 <%= day.status %>
               </td>
              </tr>
            <% end %>
          </table>
         </td>
        </tr>

      <% end %>
    </tbody>
  </table>