<div class="modal-header">
  <div class="modal-title">
    <div class="text-center"><h4><%= yield(:modal) %></h4></div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>  
  </div>
  <div class="modal-body text-center" >
   <h4 style="color:red">この商品を削除します。</h4>
   <table class="table table-bordered modal-tv">
     <thead>
       <tr>
         <th>商品名</th>
         <th>売価</th>
         <th>原価</th>
         <th>利益率</th>
         <th>在庫</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td><%= @item.name %></td>
         <td><%= @item.baika %></td>
         <td><%= @item.genka %></td>
         <td><%= @item.itemRate %></td>
         <td><%= @item.stock %></td>
       </tr>
     </tbody>
   </table>
   <div class="text-centerr">
     <%= link_to "削除",item_path(@item),method: :delete,class:"btn btn-danger" %>
   </div>
 </div>
</div>